*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color:darkslateblue;
    color:white;
    height: 5rem;
    line-height: 5rem;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 2rem;

}
.choice {
  height: 185px;
  width: 185px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}    

.choice:hover{
    background:linear-gradient(45deg,rgb(129, 118, 210), transparent), radial-gradient(rgb(134, 91, 11), transparent);
    cursor: pointer;
}
img {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    object-fit:cover;
  }
  .count {
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 2rem;
    margin: 4rem 4rem 4rem 36rem  ;
    gap: 5rem;
}
#user-count,#comp-count{
    font-size: 3rem;
}

.message{
    margin-right: 1rem;
}
#msg{
    background-color: darkslateblue;
    color: white;
    display: inline;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.5rem;

}
#paper,#scissor{
    transform: rotate(-90deg);
}
  
